<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Web spider <i>alpha</i></h3>
          <!--<nav class="nav nav-masthead">-->
            <!--<a class="nav-link active" href="#">Home</a>-->
            <!--<a class="nav-link" href="#">Features</a>-->
            <!--<a class="nav-link" href="#">Contact</a>-->
          <!--</nav>-->
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Crawl site</h1>
        <form action="/crawl" method="POST">
          <!--<p class="lead">-->
          <div class="input-group">
            <input name="url" type="text" class="form-control" placeholder="http://your_site.com">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" content="Crawl">Crawl</button>
              </span>
            </div>
          <!--</p>-->
        </form>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Created by <a href="https://github.com/kudresov">Vitalij Kudresov</a></p>
        </div>
      </div>

    </div>

  </div>

</div>